body {
  color:#40514E;
  margin: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

h1 {
  margin: 60px auto 0 auto ;
  font-family: 'Alex Brush', cursive;
  font-size: 5.625rem;
  color:  #66BFBF;
  line-height: 1;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
  color:  #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Raleway', sans-serif;
  color:  #11999E;
}

a{
  color: #11999E;
  font-family: 'Raleway', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
  font-weight: bold;
}

a:hover{
  color: white;
}

.top-container {
  background-color: #CDF0EA;
  position: relative;
  padding-top: 100px;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.middle-container{
margin:100px 0;
}




.p3{
  width: 30%;
  margin: 40px auto 60px;
}

.p4{
  color: #EAF6F6;
font-size: 0.75rem;
padding: 20px 0;

}

.p0{
  width:30%;
  margin: auto;
}

p{
  line-height: 2;
}

.skill-row{
  width: 50%;
margin:100px auto 100px auto;
text-align: left;

}
.skill1{
  width: 25%;
  float: left;
  margin-right: 30px;

}
.skill2{
  width:25%;
  float: right;
  margin-left: 30px;
}

/*.p1{
  clear: left;
}

.p2{
  clear:right;
}
*/

hr{
  border-style: none;
  border-top-style: dotted;
  width: 5%;
  border-width: 10px;
  color: #647E68;
  margin: 100px auto;

}



.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}

.contact-me{
  line-height: 2;
}


.btn {
  background: #3498db;

  background-image: linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover
{
  background: #3cb0fd;

  background-image: linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
